$Dark: hsl(227, 28%, 29%);
$Gray: hsl(228, 16%, 65%);
$Grayish: hsl(216, 20%, 95%);
$DarkGreen: hsl(105, 36%, 21%);
$LightGreen: hsl(104, 63%, 41%);
$VeryLightGreen: hsl(104, 95%, 43%);
$Red: hsl(0, 81%, 54%);
$White: hsl(0, 0%, 100%);
